@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

*{
    margin:0;

}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--negro);
    font-family: 'Marcellus', serif;
    font-size: 1.3em;
    padding: 1rem;
}

nav a{
    color: var(--blanco);
    text-decoration: none;
}

img{
    width: 100%;
}

.logoh img{
    height: 3rem;
}

.item{
    padding: 1rem;
}

.botonsesion{
    background-color: var(--azuloscuro);
    padding: 0.6rem;           /*espacio alrededor texto*/
    color: #ffffff;          /*color texto*/
    text-decoration: none;     /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    border-radius: 4px;        /*bordes redondos*/
}

h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}

.social{
    position: fixed;
    right: 0;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
    background-color: var(--Magenta);

}
.reservar{
    color: var(--blanco);
    text-decoration: none;
    padding: .6rem;
    display: flex;
    transition: all .5s;
}

section{
    display: flex;
}

.container img{
    position: relative;
    display: inline-block;
}

.container p{
    background-color: rgba(0,-0,0,0.4);
    padding: 2rem;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 28rem;
    left: 1rem; 
}

.container2{
    padding: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container2 p{
    font-size: 2rem;
}

.container2 img{
    height: 15rem;
    align-items: center;
}

@media (max-width:600px){
    .container{
        flex:100%;
    }
    
}

#features{
    background: url(../img/bg-features.png);
    color: white;
    padding: 3rem;
    display: inline-block;
    height: 11rem;
    width: 78.22rem;
    position: relative;
}

.features-title{
    background-color: rgba(0,0,0,0.35);
    text-align: center;
    padding: 1rem;
    font-size: 2em;
    margin-left: -3rem;
    margin-right: -3rem;
}

.features-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature{
    width: 25%;
    min-width: 150px;
    max-width: 210px;
    margin: 0.7rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.feature i{
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}

.feature-blue{
    background-color: #00325eae;
}

.feature-black{
    background-color: rgba(0,0,0,0.59);
}

iframe{
    display: flex;
    padding: 2rem;
    width: 90rem;
    height: 20rem;
}

.maps{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-size: 1.5em;
}

footer{
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

hr{
    width: 50%; 
    margin: 0 25% 0 25%;
    display: flex;
    color: var(--azulclaro);
}

.usuarios{
    display: flex;
    background-color: var(--negro);
    color: var(--blanco);
    padding: 3rem;
    justify-content: center;
    font-size: 2em;
}

.usuarios h1{
    margin-bottom: 2rem;
}

/*generando comentarios*/
.cometarios{
    display: flex;
    background-color: var(--negro);
    padding: 3rem;
    justify-content: center;
    font-size: 2em;
}

.circuloimg{
    border-radius: 1%;
    color: var(--blanco);
    padding: 2rem;
    display: flex;
    width: 290px;
    height: 110px;
    background: url(../img/Group\ 200.svg);
    margin: 50px;

}

.circuloimg img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
  
  /* ocultamos los radiobuttons */
  /*estrellas */
  input[name=rating] {
    display: none;
  }
  
  .fichas-listado-v2 .voto .voto-estrellas{
    display: block;
    unicode-bidi: bidi-override;
    width: 10%;
    margin-top: 10px;
  }
  .fichas-listado-v2 .voto .voto-estrellas i{
    color: var(--blanco);
    font-size: 20px;
    padding-right: 2px;
  }
  
  .fichas-listado-v2 .voto .voto-estrellas i:hover{
    cursor: pointer;
    color: var(--blanco);
  }
  .fichas-listado-v2 .voto .voto-estrellas i.fa-star,
  .fichas-listado-v2 .voto .voto-estrellas:hover i{
    color:var(--Magenta);
  }
  .fichas-listado-v2 .voto .voto-estrellas:hover i:before{
    content: "\f006";
  }
  .fichas-listado-v2 .voto .voto-estrellas i.fa-star-o:hover:before,
  .fichas-listado-v2 .voto .voto-estrellas i:hover ~ i:before{
    content: "\f006";
    color: var(--blanco);
  }

  .piepag{
    width: 96%;
    background-color: var(--negro);
  }

  .piepag .grup1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    
  }

  .piepag .grup1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .piepag .grup1 .box p{
    color: var(--blanco);
    margin-bottom: 10px;
    text-align: start;
  }

  .piepag .grup1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 25px;
    height: 25px;
    left: 50px;
    color: var(--blanco);
  }

  .piepag .grup1 .fa-solid{
    color: var(--blanco);
  }

  .body {
    background: url(../img/hotelogin.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .formu {
    background: url(../img/login.jpg);
    width: 250px;
    border-radius: 3px;
    padding: 40px 60px;
    box-shadow: 0 5px 5px rgba(20, 90, 20, .2);
    
  }

  .logologin img{
    height:150px; 
    width:150px; 
    top:0; 
    left:0; 
    padding-top:0;
  }

  .formcontainer{
    margin-bottom: 10px;
  }
  
  .labelogin{
    color: var(--blanco);
    text-shadow: 0.1em 0.1em 0.2em black
  }

  .registro{
    margin-top: 20px;
  }

  .sincuenta{
    color: var(--blanco);
    text-decoration: none;
  }

  .registrar{
    color: var(--negro2);
    text-decoration: none;
  }

  .iconologin .fa-solid{
    margin-bottom: 15px;
    display:inline-block;
    color: var(--Magenta);
    position: relative;
    right: -100px
  }

  .inputlogin{
    display: block;
    padding-left:44px;
    padding-right:44px;
  }

  .boton{
    margin-top: 40px;
  }
  .boton a{
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
    color: #ffffff;
    background-color: var(--negro2);
    border-radius: 2px;
    padding-left:100px;
    padding-right:100px;
    margin-top:10px ;
    }