@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
  --width:300px;
  --padding: 10px;
  --width-collapsed: 50px;

}

*{
    margin:0;

}


body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1,h2,h3,h4,h5{
  font-family: 'Marcellus', serif;
}

/*CABECERA*/
@media screen and (min-width: 800px){

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--negro);
    font-family: 'Marcellus', serif;
    font-size: 1.3em;
    padding: 1rem;
}

nav a{
    color: var(--blanco);
    text-decoration: none;
}

img{
    width: 100%;
}

.logoh img{
    height: 3rem;
}

.item{
    padding: 1rem;
}
 }
.botonsesion{
    background-color: var(--azuloscuro);
    padding: 0.6rem;           /*espacio alrededor texto*/
    color: #ffffff;          /*color texto*/
    text-decoration: none;     /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    border-radius: 4px;        /*bordes redondos*/
}


/*SLIDE*/


* {box-sizing:border-box}

.primerimg{
  width: 100%;
  position: relative;
}

.text-slider{
  position: absolute;
  color: var(--blanco);
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 2.1rem;
  width: 50%;
  top: 70%;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slide {
  display: none;
}

.slide img{
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width:900px) {
  .container {
      width: 100%;
  }
}

@media screen and (max-width:500px) {
  .container {
      width: 100%;
  }

  .prev,
  .next {
      padding: 5px;
  }
}

.social{
    position: fixed;
    right: 0;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
    background-color: var(--Magenta);

}
.reservar{
    color: var(--blanco);
    text-decoration: none;
    padding: .6rem;
    display: flex;
    transition: all .5s;
}


section{
    display: flex;
}

.container{
  background-color: rgba(0,-0,0,0.3);
    padding: 2rem;
    font-size: 3rem;
    color:var(--blanco);
    position: absolute;
    width: 100%;
}

.container img{
    position: relative;
    display: inline-block;
}


.container2{
    padding-top: 10px;
    padding: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contai{
  margin: 20px 20px 20px 20px;
  font-family: 'Marcellus', serif;
  font-size: 15px;
  color:var(--negro2);
  text-decoration: none;
}

.container2 p{
    font-size: 2rem;
}

.container2 img{
    height: 15rem;
    align-items: center;
}

@media (max-width:600px){
    .container{
        flex:100%;
    }
    
}

#features{
    background: url(../img/bg-features.png);
    color: white;
    padding: 3rem;
    display: inline-block;
    height: 11rem;
    width: 78.22rem;
    position: relative;
    width: 92.5%;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}

.features-title{
    background-color: rgba(0,0,0,0.35);
    text-align: center;
    padding: 1rem;
    font-size: 2em;
    margin-left: -3rem;
    margin-right: -3rem;
}

.features-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature{
    width: 25%;
    min-width: 150px;
    max-width: 210px;
    margin: 0.7rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.feature i{
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}

.feature-blue{
    background-color: #00325eae;
}

.feature-black{
    background-color: rgba(0,0,0,0.59);
}

iframe{
    display: flex;
    padding: 2rem;
    width: 90rem;
    height: 20rem;
}

.maps{
    padding: 1rem;
    text-align: center;
    font-size: 1.5em;
    margin-top: 31px;
}

.maps1 {
  overflow:hidden;
  padding-bottom:400px; 
  position:relative;
  height:0;
}
.maps1 iframe{
  
  width: 100%;
  margin: 2%;
}

footer{
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

hr{
    width: 50%; 
    margin: 0 25% 0 25%;
    display: flex;
    color: var(--azulclaro);
}

.usuarios{
    display: flex;
    background-color: var(--negro);
    color: var(--blanco);
    padding: 3rem;
    justify-content: center;
    font-size: 2em;
    position: relative;
}

.usuarios h1{
    margin-bottom: 2rem;
}

/*comentarios*/
.cajascoment{
  border:3px ;
  height: 200px;
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.caja1, .caja2, .caja3{
  background-image: url(../img/Group\ 200.svg);
  width: 30%;
  height: 100%;
  float: left;
  background-size:cover;
  background-position: left;
  color: var(--blanco);
}

.margenderecha{
  margin-right: 5%;
}

.diego{
  font-family: 'Marcellus', serif;
  font-size: 1.3em;
  color: var(--blanco);
  margin-left: 10%;
  display: inline-block;
  vertical-align: top;
  margin-top: 10%;
}

.circuloimg{
    border-radius: 1%;
}

.circuloimg img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-left: 5%;
    margin-top: 5%;
}

.estrellas{
    font-size: 30px;
    direction: rtl;        
    unicode-bidi: bidi-override;
    margin-left: 35%;
    display: inline-block; 
}
  
.labelestre{
    color: var(--Magenta);
}

.labelestre:hover,
.label:hover ~ label {
  color: var(--blanco);
}

.inputestre[type = "radio"]{ 
    display:none;
}

input[type="radio"]:checked ~ label {
  color: var(--blanco);
}

.parrafocaja{  
  padding: 2%;
  margin-bottom: 2%;
}

.piepag{
    width: 96%;
    background-color: var(--negro);
    
}

  .piepag .grup1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    
  }

  .piepag .grup1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .piepag .grup1 .box p{
    color: var(--blanco);
    margin-bottom: 10px;
    text-align: start;
  }

  .piepag .grup1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 15px;
    height: 15px;
    right: 10px;
    color: var(--blanco);
  }

  .piepag .grup1 .fa-solid{
    color: var(--blanco);
  }

  .body {
    background: url(../img/loginh.PNG);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 15px;
    background-size: 90%;
    background-size: auto 70px;
    background-size: auto 150%;
  }
  
  .bienvenido{
    background-color: var(--azuloscuro);
    margin-right: 50%;
    height: 100%;
    opacity: 90%;
  }
  
  .bodyform{
    display: grid;
    grid-template: "header" 10% "formulario" auto;

  }

  .bodyform .bienvenido{
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .bienvenido img{
    margin-top: 70%;
    width: 80%;
    margin-left: 10%;
  }

  .bienvenido h1{
    color: var(--blanco);
    margin-left: 25%;
    margin-top: 10px;
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .formu {
    background: url(../img/relogin.PNG);
    background-size: cover;
    background-repeat:no-repeat;
    width: 400px;
    border-radius: 3px;
    padding: 40px 75px;
    opacity: 85%;
  }

  .logologin {
    height:90px; 
    width:150px; 
  }

  .formcontainer{
    margin-bottom: 10px;
  }
  
  .labelogin{
    color: var(--blanco);
    text-shadow: 0.1em 0.1em 0.2em black
  }

  .sincuenta{
    color: var(--blanco);
    text-decoration: none;
  }

  .iconologin .fa-solid{
    margin-bottom: 15px;
    display:inline-block;
    color: var(--Magenta);
    position: relative;
    right: -100px
  }

  .inputlogin{
    display: block;
    padding-left:40px;
    padding-right:40px;
    
  }
  
  .registro{
    margin-top: 10px;
  }

  .registrar{
    color: var(--negro2);
    text-decoration: none;
  }

  .boton{
    margin-top: 40px;
  }

  .boton a{
  text-decoration: none;
  padding: 5px;
  font-size: 15px;
  color: #ffffff;
  background-color: var(--negro2);
  border-radius: 2px;
  padding-left:100px;
  padding-right:100px;
  margin-top:5px ;
  }

  @media screen and (min-width: 320px){
  .bodyform{
  background: url(../img/fondoform.jpg); 
  background-size: cover;
  background-repeat:no-repeat;
  }

  .h1form{
    text-align: center;
    font-size: 25px;
  }

  .formhuesped{
    background-color: var(--blanco);
    grid-area: formhuesped;
    margin: 25px;
    border-radius: 5px;

  }

  .formuhuesped{
   margin: 0px 10px;
   padding: 10px 0px;
  }

 .colum{
  display: flex;
  flex-direction: column;
  padding: 0 1em 0 0;
  width: 100%;
 }
 
 .colum .input{
  padding:0.5;
  width: 90%;
  margin: 0.5em 0 0.5em 0;
  font-size: 1em;
  border-radius: 5px;
  border: 0;
 }

  .botonform{
    margin-top: 40px;
  }

  .botonform a{
    text-decoration: none;
    padding: 7px;
    font-size: 20px;
    color: #ffffff;
    background-color: var(--negro2);
    border-radius: 2px;
    padding-left:70px;
    padding-right:70px;
    margin-top:10px ;
    margin-left: 15%;
  }}

  @media screen and (min-witdth:1024px){
    .geners{
      margin-top: -25px;
    }

    .formuhuesped{ 
      display: grid;
      grid-template:
          "colum1 colum2" 100%/
          50% 50%; 
     }

     .form-check{
      margin-top: 5px;
      margin-bottom: 4px;
     }
    .colum1{
      grid-area: colum1;
      padding: 15px;
    }

    .colum2{
      grid-area: colum2;
      padding: 15px;
    }
    .terminoscondiciones{
      margin-top: 100px;
      display: flex;
      flex-direction: column;
    }
  }
  .bodydashboard{
    background: url(../img/bodydashboard.jpg);
    background-repeat:no-repeat ;
    padding: 0;
    margin: 0;
    margin-left: var(--width-collapsed);

  }

  .body-expanded{
    margin-left: var(--width);
  }

  #main-container{
    color: var(--blanco);
  }

  #menudash{
    background-color: var(--azulnegro);
    color: var(--blanco);
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
  }

  #menudash a{
    color: var(--blanco);
    text-decoration: none;
  }

  /*header*/
  #menudash #header{
    box-sizing: border-box;
    border-bottom: solid 1px var(--azuloscuro);
  }

  #menudash #header #title{
    box-sizing: border-box;
    overflow: hidden;
  }

  #menudash #header #title, #menudash #header #menu-btn{
    vertical-align:middle;
  }

  #menudash #header #manu-btn{
    display: inline-block;
  }

  /*boton*/
  #menudash #header #menu-btn{
    cursor: pointer;
    padding: 10px;
    width: var(--width-collapsed);
    box-sizing: border-box;
  }
  /*division*/
  #menudash #profile{
    padding: var(--padding) 0;
    margin-left: 25%;
  }

  #menudash #photo img{
    width: 50%;
    margin-top: 10%;
    margin-left: 20%;
    margin-bottom: 15%;
  }

  #manudash #profile, #menudash #profile #nombre{
    font-size: 120%;
  }

  #menudash #profile, #menudash #profile #name{
    font-size: 90%;
    overflow: hidden;
  }
  /*el tamaño del icono es el ancho*/
  #menudash #menu-items .item{
    width: var(--width);
  }

  #menudash #menu-items .item .icon,
  #menudash #menu-items .item .title{
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
  }

  #menudash #menu-items .item a{
    display: block;
  }

  #menudash #menu-items .item a:hover{
    background-color: var(--azuloscuro);
  }

  #menudash #menu-items .item .icon{
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
  }

  #menudash #menu-items .item .title{
    padding: var(--padding) 0;
  }



  #menudash #menu-items .apart{
    width: var(--width);
  }

  #menudash #menu-items .apart .icono,
  #menudash #menu-items .apart .title{
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
  }

  #menudash #menu-items .apart a{
    display: block;
  }

  #menudash #menu-items .apart a:hover{
    background-color: var(--azuloscuro);
  }

  #menudash #menu-items .apart .icono{
    box-sizing: border-box;
    margin-top: 40%;
    margin-right: 5%;
    margin-left: 35%;
    width: var(--width-collapsed);
  }

  #menudash #menu-items .apart .title{
    margin-top: 40%;
  }
/*dash*/
@media screen and(min-width:1024) {

  .formudash{
    font-size: 25px;
    display: grid;
    grid-template:
        "titulo titulo titulo" 10%
        "prif segun colum22" 65%
        "prif abaj abaj"  25%/
         20% 40% 40%; 
  }
  .prif{
    grid-area: prif; 
    padding: 20px
  }
  .colum22{
    grid-area: segun; 
    padding: 15px;
  }
  .segun{
    grid-area: column-3;  
    padding: 15px; 
  }
  .ababj{
    grid-area: abaj;
    padding: 20px;
    margin-top: -60px;
  }

}
  .formudash{
    background-color: var(--blanco); 
    margin-left: 30%;
    border-radius: 3px;
    padding: 80px 250px;
    box-shadow: 0 5px 5px rgba(20, 90, 20, .2);
    opacity: 90%;
    display: inline-block;
  }

  .fotic{
   width: 50%;
   height: 50%;
  }

  .angieinocos {
    background-color: var(--azuloscuro);     
    text-transform: uppercase; /*capitalización texto*/
    border-radius: 4px;        /*bordes redondos*/
    width: 30%;
    padding-left: 20%;
    
  }
  .angieinocos a{
    color: var(--blanco);
    text-decoration: none;     /*decoración texto*/
    padding: 0.6rem;
    font-size: 20px;
    background-size: 20%;
  }

  .botondash1 a{
    text-decoration: none;
    padding: 7px;
    font-size: 20px;
    color: var(--blanco);
    background-color: var(--negro2);
    border-radius: 2px;
    padding-left:70px;
    padding-right:70px;
    margin-top:20% ;
    margin-right: 100%;
  }

  .botondash a{
    text-decoration: none;
    padding: 7px;
    font-size: 20px;
    color: var(--blanco);
    background-color: var(--negro2);
    border-radius: 2px;
    padding-left:70px;
    padding-right:70px;
    margin-top:10% ;
    margin-right: 100%;
  }

/*busqueda habitaciones*/
.botonbush{
  display: flex;
  padding: 0%;
  margin-left: 17%;
  margin-top: 13%;
  width: 17.5%;

}

.botonbush a{
  text-decoration: none;
  font-size: 20px;
  color: var(--blanco);
  background-color: var(--azuloscuro);
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.formbus{
  background-color: var(--blanco);
  display: flex;
  width: 26.5%;
  margin-left: 12%;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 6%;
  padding-bottom: 5%  ;
  box-shadow: 0 5px 5px rgba(17, 298, 11, 0.2);
}

.formform{
  padding-right: 0%;
  margin: 0%;
}

.botonverh{
  display: flex;
  padding: 0%;
  margin-left: 5%;
  margin-top: 13%;
  width: 100%;
}

.botonverh a{
  text-decoration: none;
  font-size: 12px;
  color: var(--blanco);
  background-color: var(--negro2);
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.formbus2{
  background-color: var(--blanco);
  display: flex;
  width: 200%;
  margin-left: 100%;
  padding-left: 20%;
  padding-right: 10%;
  padding-top: 6%;
  padding-bottom: 5%;
  box-shadow: 0 5px 5px rgba(17, 298, 11, 0.2);
}

.formform2{
  padding-right: 0%;
  margin: 2%;
}

.botonverh2{
  display: flex;
  padding: 0%;
  margin-left: 5%;
  margin-top: 13%;
  width: 100%;
}

.botonverh2 a{
  text-decoration: none;
  font-size: 15px;
  color: var(--blanco);
  background-color: var(--negro2);
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/**/

.formbus3{
  background-color: var(--blanco);
  display: flex;
  width: 100%;
  margin-left: 10%;
  padding-left: 15%;
  padding-right: 20%;
  padding-top: 6%;
  padding-bottom: 5%;
  box-shadow: 0 5px 5px rgba(17, 298, 11, 0.2);
}

.formform3{
  padding-right: 0%;
  margin: 2%;
}

.botonverh3{
  display: flex;
  padding: 0%;
  margin-left: 5%;
  margin-top: 13%;
  width: 100%;
}

.botonverh3 a{
  text-decoration: none;
  font-size: 15px;
  color: var(--blanco);
  background-color: var(--azuloscuro);
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/**/
.formbus4{
  background-color: var(--blanco);
  display: flex;
  width: 200%;
  margin-left: 10%;
  padding-left: 15%;
  padding-right: 10%;
  padding-top: 6%;
  padding-bottom: 5%;
  box-shadow: 0 5px 5px rgba(17, 298, 11, 0.2);
}

.formform4{
  padding-right: 0%;
  margin: 2%;
}

.botonverh4{
  display: flex;
  padding: 0%;
  margin-left: 5%;
  margin-top: 13%;
  width: 100%;
}

.botonverh4 a{
  text-decoration: none;
  font-size: 15px;
  color: var(--blanco);
  background-color: var(--negro2);
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/**/

.formbus5{
  background-color: var(--blanco);
  display: flex;
  width: 200%;
  margin-left: 10%;
  padding-left: 15%;
  padding-right: 10%;
  padding-top: 6%;
  padding-bottom: 5%;
  box-shadow: 0 5px 5px rgba(17, 298, 11, 0.2);
}

.formform5{
  padding-right: 0%;
  margin: 2%;
}

.botonverh5{
  display: flex;
  padding: 0%;
  margin-left: 5%;
  margin-top: 13%;
  width: 100%;
}

.botonverh5 a{
  text-decoration: none;
  font-size: 15px;
  color: var(--blanco);
  background-color: var(--azuloscuro);
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.habi{
  background-color: var(--azuloscuro);
  margin-right: 50%;
  height: 100%;
  opacity: 90%;
}




