@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

*{
    margin:0;

}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--negro);
    font-family: 'Marcellus', serif;
    font-size: 1.3em;
    padding: 1rem;
}

nav a{
    color: var(--blanco);
    text-decoration: none;
}

img{
    width: 100%;
}

.logoh img{
    height: 3rem;
}

.item{
    padding: 1rem;
}

.botonsesion{
    background-color: var(--azuloscuro);
    padding: 0.6rem;           /*espacio alrededor texto*/
    color: #ffffff;          /*color texto*/
    text-decoration: none;     /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    border-radius: 4px;        /*bordes redondos*/
}

h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}

.social{
    position: fixed;
    right: 0;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
    background-color: var(--Magenta);

}
.reservar{
    color: var(--blanco);
    text-decoration: none;
    padding: .6rem;
    display: flex;
    transition: all .5s;
}

section{
    display: flex;
}

.container img{
    position: relative;
    display: inline-block;
}

.container p{
    background-color: rgba(0,-0,0,0.4);
    padding: 2rem;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 28rem;
    left: 1rem; 
}

.container2{
    padding: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container2 p{
    font-size: 2rem;
}

.container2 img{
    height: 15rem;
    align-items: center;
}

@media (max-width:600px){
    .container{
        flex:100%;
    }
    
}

#features{
    background: url(../img/bg-features.png);
    color: white;
    padding: 3rem;
    display: inline-block;
    height: 11rem;
    width: 78.22rem;
    position: relative;
}

.features-title{
    background-color: rgba(0,0,0,0.35);
    text-align: center;
    padding: 1rem;
    font-size: 2em;
    margin-left: -3rem;
    margin-right: -3rem;
}

.features-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature{
    width: 25%;
    min-width: 150px;
    max-width: 210px;
    margin: 0.7rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.feature i{
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}

.feature-blue{
    background-color: #00325eae;
}

.feature-black{
    background-color: rgba(0,0,0,0.59);
}

iframe{
    display: flex;
    padding: 2rem;
    width: 90rem;
    height: 20rem;
}

.maps{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-size: 1.5em;
}

footer{
    text-align: center;
}

hr{
    width: 50%; 
    margin: 0 25% 0 25%;
    display: flex;
    color: var(--azulclaro);
}
.usuarios{
    text-align: center;
    color: var(--blanco);
    padding: 1rem;
}
.usuarios h2{
    text-align: center;
}