<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/hotelia campana.svg">
    <link href="../css/style.css" rel="stylesheet">
    <title>Busqueda de Habitaciones</title>
</head>
<body>
        <div class="botonbush">
            <a href="#">Busqueda de Habitaciones</a>
        </div>
        <div class="formbus">
            <div class="formform">
                <div class="form-group">
                    <label for="">Entrada:</label>
                    <input class="form-control" type="date" id="entrada">
                </div>
                <div>
                    <label for="">Salida:
                    <input type="date" id="salida"></label>
                </div>
                <div>
                    <label for="">Adultos:</label>
                    <input type="number" id="adultos">
                </div>
                
                <div>
                    <label for="">Niños:</label>
                    <input type="number" id="niños">
                </div>
                <div class="botonverh">
                    <a href="#">Ver habitaciones disponibles</a>
                </div>
            </div>
            
        <div class="formbus2">
            <div class="formform2">
               <img src="../img/pieza.webp" alt="">
               <h2>128.000</h2>
                <div class="botonverh2">
                    <a href="#">Reservar</a>
                </div>
            </div>
        </div>
        <div class="formbus3">
            <div class="formform3">
               <img src="../img/pieza.webp" alt="">
               <h2>128.000</h2>
                <div class="botonverh3">
                    <a href="#">Reservar</a>
                </div>
            </div>
        </div>  
        <div class="formbus4">
            <div class="formform4">
               <img src="../img/pieza.webp" alt="">
               <h2>128.000</h2>
                <div class="botonverh4">
                    <a href="#">Reservar</a>
                </div>
            </div>
        </div>
        <div class="formbus5">
            <div class="formform5">
               <img src="../img/pieza.webp" alt="">
               <h2>128.000</h2>
                <div class="botonverh5">
                    <a href="#">Reservar</a>
                </div>
            </div>
        </div>
</body>
</html>