<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/20f85b24be.js" crossorigin="anonymous"></script>
    <link href="../css/style.css" rel="stylesheet">
    <link href="img/hotelia campana.svg">
    <title>Dashboard</title>
</head>
<body class="bodydashboard">
    <div id="menudash" class="menu-collapsed">
        <div id="header">
            <div id="photo"><img src="../img/Hotelia horizontal blanco.svg" alt=""></div>
            <div id="profile">
                <div id="nombre">Angie Vargas</div>
            <div id="name"><span>angievargas2@gmail.com</span></div>
          </div>       
        </div>

        <div id="menu-items">
            <div class="item">
                <a href="">
                    <div class="icon"><i class="fa-solid fa-bed"></i>
                    </div>
                    <div class="title">Habitaciones</div>
                </a>
            </div>
            <div class="item">
                <a href="">
                    <div class="icon"><i class="fa-solid fa-bell-concierge"></i>
                    </div>
                    <div class="title">Reservas</div>
                </a>
            </div>
            <div class="item">
                <a href="">
                    <div class="icon"><i class="fa-solid fa-bed"></i>
                    </div>
                    <div class="title">Habitaciones</div>
                </a>
            </div>
            <div class="item">
                <a href="">
                    <div class="icon"><i class="fa-solid fa-bell-concierge"></i>
                    </div>
                    <div class="title">Habitaciones</div>
                </a>
            </div>
            <div class="apart">
                <a href="">
                    <div class="icono"><i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </div>
                    <div class="title">Cerrar sesión</div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>