<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/20f85b24be.js" crossorigin="anonymous"></script>
    <link href="../css/style.css" rel="stylesheet">
    <link rel="icon" href="img/hotelia campana.svg">
    <title>Dashboard</title>
</head>
<body class="bodydashboard">
    <div id="menudash" class="menu-collapsed">
        <div id="header">
 <div id="photo"><img src="../img/Hotelia horizontal blanco.svg" alt=""></div>
 <div id="profile">
     <div id="nombre">Angie Vargas</div>
 <div id="name"><span>angievargas2@gmail.com</span></div>
          </div>       
        </div>

        <div id="menu-items">
 <div class="item">
     <a href="">
         <div class="icon"><i class="fa-solid fa-bed"></i>
         </div>
         <div class="title">Habitaciones</div>
     </a>
 </div>
 <div class="item">
     <a href="">
         <div class="icon"><i class="fa-solid fa-bell-concierge"></i>
         </div>
         <div class="title">Reservas</div>
     </a>
 </div>
 <div class="item">
     <a href="">
         <div class="icon"><i class="fa-solid fa-bed"></i>
         </div>
         <div class="title">Habitaciones</div>
     </a>
 </div>
 <div class="item">
     <a href="">
         <div class="icon"><i class="fa-solid fa-bell-concierge"></i>
         </div>
         <div class="title">Habitaciones</div>
     </a>
 </div>
 <div class="apart">
     <a href="../index.html">
         <div class="icono"><i class="fa-solid fa-arrow-right-from-bracket"></i>
         </div>
         <div class="title">Cerrar sesión</div>
     </a>
 </div>
</div>
</div>
<form class="formudash">
        
 <h2 class="h1form">
     Bienvenido, Angie vargas
 </h2>
    <div class="prif">
      <div class="fotic">
  <img src="../img/angievargas.PNG" alt="">
      </div>
    <div class="angieinocos">
    <a href="">
     <i class="fa-solid fa-file-arrow-up "></i>
    </a>
    <a href="">
     <i class="fa-solid fa-upload "></i>
    </a>
    </div>
  <div class="segun">
    <div class="form-group">
   <label for="Tipo">Tipo de documento</label>
   <select name="menu" class="form-select">
     <option value="">Escoge una opcion</option>
     <option>Cedula de ciudadania</option>
     <option>Tarjeta de identidad</option>
   </select>
        </div>
        <div class="form-group">
   <label for="nombres">Nombres</label>
   <input class="form-control" name="nombres" type="text">
        </div>
        <div class="form-group">
          <label for="fecha">Fecha de Nacimiento</label>
          <input class="form-control" name="fecha" type="date">
        </div>
        <div class="form-check">
          <h5>Genero</h5>
      <div class="geners">
        <div class="checks"><label class="radio-inline">
          <input type="radio">Mujer
        </label><label class="radio-inline">
          <input type="radio">Hombre
        </label><label class="radio-inline">
          <input type="radio">Otro
        </label>
          </div>
      </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
          <input class="form-control" name="email" type="email">
        </div>
   
  </div> 
      <div class="colum22">
        <div class="form-group">
          <label for="numerodoc">Numero de Documento</label>
          <input class="form-control" name="numerodoc"  type="text">
        </div>
        <div class="form-group">
          <label for="apellidos">Apellidos</label>
          <input class="form-control" name="apellidos" type="text">
        </div>
        <div class="form-group">
        <label for="telcon">Telefono de Contacto</label>
          <input class="form-control" name="telcon"  type="text">
        </div>
        <div class="form-group">
        <label for="pais">Pais de Origen</label>
          <input class="form-control" name="pais"  type="text">
        </div>
      </div>
      <br>
      <div class="abaj">
      <div class="botondash">
        <a href="dashboardd.html">Actualizar</a>
      </div>
      <br>
        <div class="form-group">
        <label for="">Contraseña</label>
          <input class="form-control" type="password">
        </div>
        <div class="form-group">
          <label for="">Confirmar contraseña</label>
          <input class="form-control" type="password">
        </div><br>
      <div class="botondash">
      <a href="dashboardd.html">Cambiar</a>
      </div>
    </div>
  </div>
  </form>
  
</body>
</html>